<div style="background-color: rgba(196, 35, 51, 0.80)">
  <div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/banner' %>
    <%= render 'shared/bio' %>
    <%= render 'shared/experiences' %>
    <%= render 'shared/skills' %>
    <%= render 'shared/education' %>
    <%= render 'shared/contact' %>
  </div>
</div>


