<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Thibault Derennes</title>
    <meta prefix="og: http://ogp.me/ns#" property='og:title' content='Thibault Derennes'/>
    <meta prefix="og: http://ogp.me/ns#" property='og:image' content='/assets/meta-card.png'/>
    <meta prefix="og: http://ogp.me/ns#" property='og:description' content='My Portfolio'/>
    <meta prefix="og: http://ogp.me/ns#" property='og:url' content='https://thibaultderennes.herokuapp.com/'/>
    <link rel="shortcut icon" href="/assets/nav-icon.png" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Abel|Montserrat|Open+Sans', media: 'all', 'data-turbolinks-track' => true %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>



